@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background-image: url(https://png.pngtree.com/png-vector/20210409/ourlarge/pngtree-funny-face-mask-icon-vector-png-image_3143859.jpg);
}

.container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    padding: 10px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: black;
    color: white;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.result {
    width: 400px;
    height: 300px;
    background-size: cover;
    border-radius: 10px;
    background-color: rgba(203, 194, 162, 0.922);
    color: white;
    font-size: 20px;
    padding: 20px;
}

img {
    background-size: cover;
}